@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazirmatn";
  src: url("../font/Vazirmatn[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .modal-initial-state {
    @apply opacity-0 -translate-y-[900px];
  }

  .modal-final-state {
    @apply opacity-100 translate-y-0;
  }

  .color-text {
    @apply text-[#0052ff];
  }

  /* تغییرات رنگ تم به صورت نرم */
  html {
    transition:
      background-color 0.5s ease,
      color 0.5s ease;
  }

  /* جلوگیری از انیمیشن لحظه اول (اختیاری) */
  .no-transition {
    transition: none !important;
  }

  .sk-three-bounce .sk-child {
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  }
  .sk-three-bounce .sk-bounce1 {
    animation-delay: -0.32s;
  }
  .sk-three-bounce .sk-bounce2 {
    animation-delay: -0.16s;
  }

  @keyframes sk-three-bounce {
    0%,
    80%,
    100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
}
